<kendo-mobile-view id="index" k-title="'Kendo sushi'" k-layout="'default'" k-on-before-show="vm.filterFeatured()" ng-controller="indexController as vm">
    <kendo-mobile-list-view id="featured" class="item-list" k-data-source="vm.sushiCart.productsDataSource">
        <kendo-mobile-button k-on-click="vm.sushiCart.addToCart(kendoEvent, dataItem)" data-item-id="">
        </kendo-mobile-button>
        <a class="details-link" data-role="listview-link" href="\#!details?id=">
            <img ng-src="content/images/75/" />
            <h2></h2>
            <span class="added" ng-show="dataItem.visibleMessage">Item added to cart <span></span> times.</span>
        </a>
    </kendo-mobile-list-view>
</kendo-mobile-view>